# Основные зависимости
scapy>=2.5.0          # Работа с пакетами (sniffing)
openpyxl>=3.1.0       # Экспорт в Excel
pandas>=2.0.0         # Работа с таблицами

# Зависимости для сборки
pyinstaller>=6.0.0    # Сборка в EXE
